@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans&family=Roboto&family=Space+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="checkbox"] {
    appearance: none;
  }
}

@layer components {
  @keyframes cardSlide {
    80%,
    99% {
      translate: -101% 0;
    }
    100% {
      translate: -101% 0;
      display: none;
    }
  }

  #ACTIVITYCARD:has(input[type="checkbox"]:checked) {
    animation: cardSlide forwards 300ms ease;
  }
}
